# Ignore everything
freecodecamp/*

# But not this file
!/Users/martina/first_repo/freecodecamp/CDD_ML_Part_1_Acetylcholinesterase_Bioactivity_Data_Concised.ipynb
!/Users/martina/first_repo/freecodecamp/CDD_ML_Part_2_Acetylcholinesterase_Exploratory_Data_Analysis.ipynb
!/Users/martina/first_repo/freecodecamp/CDD_ML_Part_3_Acetylcholinesterase_Descriptor_Dataset_Preparation.ipynb

