# Ignore everything
freecodecamp/*

# But not this file
!/freecodecamp/CDD_ML_Part_1_Acetylcholinesterase_Bioactivity_Data_Concised.ipynb
!/freecodecamp/CDD_ML_Part_2_Acetylcholinesterase_Exploratory_Data_Analysis.ipynb
!/freecodecamp/CDD_ML_Part_3_Acetylcholinesterase_Descriptor_Dataset_Preparation.ipynb
!/freecodecamp/CDD_ML_Part_4_Acetylcholinesterase_Regression_Random_Forest.ipynb

!freecodecamp/
